.payment-section {
    display: flex;
 
}

.cart-wrapper {
    display: flex;
    flex-direction: column;

    padding: 4rem 0 4rem 0;
    justify-content: space-around;

}
.card-main-title {
 
    text-align: center;
    margin-bottom: 2rem;
}
.cart-wrapper > h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
   
}
.card-main-title>h1 {
    font-weight: 900;
    color: #2e2e2e;
    font-size: 2.2rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-top: 3rem;
}

.cart-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}


.cart-parent-wrapper {
    margin-top: 2rem;
    display: flex;
 border: rgb(235, 227, 215) 1px solid; 
    justify-content: space-between;
    font-family: "baloo 2", sans-serif;
  width: 55rem;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.2s;
}
.cart-parent-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.00089);
}
.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.left-column {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.name-wrapper > p {
    font-weight: 900;
    color: rgb(64, 57, 55);
}
.left-column > div > span {
    font-size: 0.658rem;
font-weight: 700;
border-radius: 999px;
text-transform: uppercase;
font-family: "baloo 2", sans-serif;
padding: 0.25rem 0.65rem 0.25rem 0.65rem;
color: rgb(196, 127, 23);
background: rgb(241, 233, 201);
}
.left-column > div > p {
    font-family: "baloo 2", sans-serif;
}
.right {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.price-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  
}
 .price-wrapper > small {
    color: rgb(141, 134, 134);
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
    margin-top: 0.15rem;
 }
 .price-wrapper > p {
    color: rgb(64, 57, 55);
    font-weight: 900;
    font-size: 1.2rem;
    font-family: "Baloo 2", sans-serif;
 }
 .button-wrapper {
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    background-color: rgb(235, 227, 215);
    border-radius: 7px;
    padding: 0.5rem;
    align-items: center;
    height: 1.65rem;
 }
 .button-wrapper > button {
    outline: none;
border: none;
background-color: transparent;
cursor: pointer;
color: rgb(167, 126, 72);
font-size: 1.05rem;
 }
 .button-wrapper > input {
border: none;

text-align: center;
width: 1.5rem;
font-family: "baloo 2", sans-serif;
background-color: rgb(235, 227, 215);

 }


@media screen and (max-width: 1000px) {
    .cart-parent-wrapper {

      width: 90%; 
    } 
    
}

@media screen and (max-width: 600px) {
    .card-main-title > h1 {
        font-size: 1.5rem;
       
    }
    .cart-parent-wrapper {
        max-width: 16rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
        border-radius: 6px 36px;
        padding: 0px 1.25rem 1.25rem;
        margin-top: 0.5rem;
        background: rgb(243, 242, 242);
        font-size: 0.9rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        cursor: pointer;
        transition: 0.3s;
    }
    .left {
        display: flex;
      flex-direction: column;
      align-items: center;
    }
    .left-column {
        flex-direction: column-reverse;
        gap: 0.2rem;
        margin-bottom: 0.7rem;
    }
    .name-wrapper {
        color: rgb(64, 57, 55);
        font-size: 1.35rem;
        font-family: "baloo 2", sans-serif;
        font-weight: 900;
    }
    .left-column > div {
       margin-bottom: 0.7rem;
}
.img-wrapper {
    margin-top: -1.25rem;
}
} 