.checkout-section {
    padding: 10rem 8rem 5rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-left {
   
    display: flex;
    flex-direction: column;

}
.checkout-header {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-bottom: 3rem;
}
p > strong  {
    font-family: "Roboto", sans-serif;
}
.checkout-header > h1 {
    color: rgb(196, 127, 23);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bolder;
    font-family: "Roboto", sans-serif;
  
}
.checkout-header > p {
    color: rgb(64, 57, 55);
    line-height: 1.35rem;
    margin-top: 0.5rem;
    font-family: "Roboto", sans-serif;
}
.checkout-main {
max-width: 30rem;
display: flex;
flex-direction: column;
gap: 2rem;
padding: 2.5rem;
border: 1px solid rgb(196, 127, 23);
border-radius: 6px 36px;
}

.individual-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.individual-wrapper > div > p{
    display: flex;
    gap: 0.25rem;
    line-height: 1.3rem;
    text-align: left;
}
.individual-wrapper > svg {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  padding: 0.4rem;
  border-radius: 100%;
}
#id-1{
    background-color: rgb(196, 127, 23);
}
#id-2{
    background-color: rgb(117, 49, 49);
}
#id-3{
    background-color: rgb(219, 172, 44);
}
.individual-wrapper > div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    
}
.checkout-right {
    padding-top: 7.5rem;
    display: flex;
    align-items: center;
}
.individual-wrapper > div > p {
    color: rgb(87, 79, 77);
    font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 1150px) {
    .checkout-right {
      max-width: 40rem;
       padding-top: 10rem;
    }
    .checkout-section {
        padding: 10rem 1rem 5rem 1rem;
      justify-content: space-between;
} 
.checkout-header > h1 {
   
    font-size: 2rem;
    
} 
}

@media screen and (max-width: 1052px) {
    .checkout-right {
      max-width: 40rem;
      padding-top: 10rem;
    }  
      .checkout-right > img {
        display: none;
      }
}