.main-nav {
    display: flex;
    justify-content: space-between;
    background: transparent;
    font-size: 1.2rem;
    height: 80px;
    align-items: center;
    transition: 0.3s;
   z-index: 3;
    padding-left: 1rem;
    position: fixed;
    width: 100%;
}

.title-wrapper {
    font-size: 1.8rem;
}

#exclamation {
position: absolute;
top: -0.5rem;
right: -0.5rem;
font-size: 1.7rem;
}
.title-wrapper > a {
    color: #da9f5b;
    
}
.title-wrapper > a > h2 {
    transition: 0.3s;
    cursor: pointer;
}
.title-wrapper > a > h2:hover {
color: brown;
}

.main-nav > ul {
    padding-right: 2rem;
    list-style: none;
    
  
}
.main-nav > ul > a {
    background-color: #da9f5b;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

border-radius: .25rem;
box-sizing: border-box;
align-items: center;
gap: 0.3rem;
color: #fff;
cursor: pointer;
width: 6rem;
height: 2.25rem;
font-size: 0.75rem;
font-weight: 500;
line-height: 1.5rem;
padding: .75rem 1.2rem;
text-align: center;
transition: 0.3s;
}

#svg-activated {
    color: rgb(192, 3, 3);
}

#svg-normal {
    color: white;
}

ul > a:hover {
    transform: scale(1.1);
}
/* ACTIVATED NAV CODE BELOW */

.activated {
    background-color: #33211d;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    font-size: 1.2rem;
    height: 80px;
    align-items: center;
    z-index: 3;
    padding-left: 1rem;
    position: fixed;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.activated > ul {
    padding-right: 2rem;
    list-style: none;
   
position: relative;
    
    
  
}
.activated > ul > a {
    background-color: #da9f5b;
    position: relative;
    display: flex;
    justify-content: center;
height: 100%;
    width: 100%;
border-radius: .25rem;
box-sizing: border-box;
align-items: center;
gap: 0.3rem;
color: #fff;
cursor: pointer;
width: 6rem;
height: 2.25rem;
font-size: 0.75rem;
font-weight: 500;


padding: .75rem 1.2rem;
text-align: center;
transition: 0.3s;
}
