.hero-section {
   padding-top: 5rem 0 5rem 0;
   display: flex;
   height: 40rem;
   background-image: linear-gradient(rgba(20, 0, 0, 0.4), rgba(61, 38, 38, 0.9)), url('../../assets/brand/carousel-1.jpg');
   object-fit: cover;
   background-position: top;
   background-attachment: fixed;
  position: relative;
   color: azure;
   align-items: center;
   justify-content: center;
   position: relative;
   
}

.hero-section::after {
    position: absolute; /*IMPORTANT!*/
    background-color: transparent;
    content: "";
    width: 100%;
    height: 10px;
    left: 0;
    z-index: 1;
    bottom: 0rem;
background: url(../../assets/brand/overlay-bottom.png);
}
.hero-content-wrapper {
    display: flex;
    flex-direction: column;
   
    text-align:center
    
}
.hero-content-wrapper > h3 {
    color: #da9f5b;
font-size: 1.5rem;
font-family: "baloo 2", sans-serif;

}
.hero-content-wrapper > h1 {
    font-size: 5rem;
    font-family: "baloo 2", sans-serif;
}
.hero-content-wrapper > h4 {
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
}

.addToCartBttn {
    background-color: #da9f5b;
    border: 1px solid transparent;
    border-radius: .50rem;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    flex: 0 0 auto;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
  margin-top: 2rem;
    padding: .75rem 1.2rem;
    text-align: center;
    transition: 0.3s;
    font-family: "baloo 2", sans-serif;
    
}

.addToCartBttn:hover {
    background-color: rgb(66, 19, 19);
  
  }
  
 